<h1>My dashboard</h1>

<h5>Put link to public bio here</h5>

<!--
- remove this from sessions. Add it to users view
- how to edit the top nav bars (need to change "my organizations to be dashboard")
- find way to attach restaurant to user
-->

<h2>Your plans</h2>
<% @user.plans.each do |plan| %>
  <ul>
    <li><%= link_to "#{plan.name}", plan_path(plan.id) %></li>
  </ul>
<%end%>

<h2>Your organizations</h2>
<% @user.organizations.each do |organization| %>
  <ul>
    <li><%= link_to "#{organization.name}", organization_path(organization.id) %></li>
  </ul>
<%end%>

<h2>Your reviews</h2>
<% @user.restaurants.each do |restaurant| %>
  <ul>
    <li><%= link_to "#{restaurant.name}", restaurant_path(restaurant.id) %></li>
  </ul>
<%end%>
