<p>
  Join this group by using one of the following domains
  or request access
  <% @organization.domains.each do |name| %>
  <ul>
    <li><%= name %></li>
  </ul>
  <% end %>

  <%#= form_for(@user, method: :post, url: join_path) do |f| %>
    <%#= f.label :email %>
    <%#= f.text_field :email, placeholder: "name@domain.com" %>
    <%#= f.submit "Join" %>
  <%#end %>

  <br>
  <%= link_to("Request Access from admin", request_access_path(@organization), method: :post) %>
</p>
