        <!-- CONTENT --------------------------------------------------------------------------------->

        <!-- Intro Section -->
        <section class="inner-intro inner-intro-small">
            <div class="container">
                <div class="row title">
                    <h2 class="h2">Login</h2>
                    <div class="page-breadcrumb">
                        <a>Home</a>/<span>Login</span>
                    </div>
                </div>
            </div>
        </section>
        <div class="clearfix"></div>
        <!-- End Intro Section -->



        <!-- Login Section -->
        <section id="Pricing" class="ptb ptb-sm-80">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <div class="border-box">
                            <h4>Already registered?</h4>
                            <%= render 'sessions/form' %>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="border-box">
                            <h4>Create an account</h4>
                            <p>Please enter your email address to create an account.</p>
                            <%= render 'users/form', {user: User.new} %>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- End Login Section -->

        <!-- End CONTENT ------------------------------------------------------------------------------>