@import "bootstrap-sprockets";
@import "bootstrap";
@import "style";
@import "font-awesome";
@import "ionicons";
@import "plugin/jPushMenu";
@import "plugin/animate";
@import "jquery-ui";


.bold-text {
  

  font-weight: bold;
}

.sidebar-widget li {
  
  text-align: left;
  margin-left: 5%;
}
