@import "bootstrap-sprockets";
@import "bootstrap";
@import "style";
@import "font-awesome";
@import "ionicons";
@import "plugin/jPushMenu";
@import "plugin/animate";
@import "jquery-ui";


.bold-text {
  

  font-weight: bold;
}

.sidebar-widget li {
  
  text-align: left;
  margin-left: 7.5%;
  padding-bottom: 5px;

}


.sidebar-form {

  text-align: left;
  padding-left: 7.5%;
}

select#plan_date_1i, select#plan_date_2i, select#plan_date_3i {

  padding: 5px 5px;
}