/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import url(https://fonts.googleapis.com/css?family=Oswald:400,300,700);


body{
  font-family: 'Oswald', sans-serif;
  /*background-image:url(https://dianablography.files.wordpress.com/2012/07/img_8082.jpg);*/
  background-size:100%;
}

form{
}

h1,h2,h3,h4,h5,h6{
  text-transform:uppercase;
}

.sessions h1{
  margin-top:0;
}

.sessions{
  width:500px;
  margin-left:auto;
  margin-right:auto;
  background:#0db2d9;
  padding:30px;
  margin-top:30px;
  opacity: 0.9;
}

.sessions div{
  margin-bottom:20px;
}

.sessions input {
  margin-left:10px;
}

.sessions input[type=submit]{
  background:#fff;
  border:none;
  font-size:1em;
  color:#000;
  padding:10px 40px;
  font-family: 'Oswald', sans-serif;
}

.links a{
  padding-right:10px;
  text-transform: uppercase;
  color:#000;
  font-weight:700;
  font-size:12px;
}

.links{
  margin-bottom:10px;
}

.container{
  width:800px;
  margin-left:auto;
  margin-right:auto;
}

.edit-user{
  font-size:10px;
  text-transform: uppercase;
}

a:link {
    color: black;
}

a:visited {
    color: #0db2d9;
}

a:hover {
    color: #0db2d9;
}

a:active {
    color: #0db2d9;
}

