

<!-- 
<body class="full-intro"> -->




        <!-- Intro Section -->
    
        <section class="inner-intro bg-img2 overlay-dark parallax parallax-background2">
            <div class="container">
                <div class="row title">
                    <h1 class="h1 light-color">What's for Lunch at <%= @organization.name %>?</h1>
                </div>
            </div>
        </section>
        <div class="clearfix"></div>
        <!-- End Intro Section -->




      <% if current_user.is_member?(@organization) %>
        <%= render @organization %>
      <% else  %>
        "You must be part of this organization to view it"
      <%end%>
        