<ul>
    <div class="wait_time">
      Wait Time: <%= @review.wait_time %>

</div>
<br><br>
    <div class="price">
      Price: <%= @review.price %>
    </div>
<br><br>
  <div class="rating">
    Rating: <%= @review.rating %>
  </div>
<br><br>
  <div class="comment">
    Comment: <%= @review.comment %> </li>
  </div>

</ul>
