<ul>
  <li>
    <div class="wait_time">
   Wait Time: <%= @review.wait_time %>
  </li>
</div>

  <li> Price: <%= @review.price %> </li>
  <li> Rating: <%= @review.rating %> </li>
  <li>
    <div class="comment">
      Comment: <%= @review.comment %> </li>
    </div>

</ul>
