debugger;
$(document).ready(function() {

    var comment = $("#review_comment").val()
    var wait_time = $("#review_wait_time").val()
    var price = $("#review_price").val()
    var rating = $("#review_rating").val()

$(".comment").append("<li>" + "Comment by: " + <%=current_user.name%> + comment + "</li>")
// $(".comment").append("<li>" + "Comment by: Antoin " + comment + "</liv>")
});
