<h2>Today's Plans</h2>


<% @plans.each do |plan|   %>
  <div>
  <%# if plan.time == Date.current %>
    Time: <%=   plan.time %>
    <br>
    Restaurant: <%=   plan.restaurant_id %>
    <br>
    Users: <%   @plan_users.map do |user|%>
        <%=   user.name %>
      <%end%>
  </div>
  <br>

  <%#end%>
<%end%>


