<br>
<br>
<br>

<section class="ptb ptb-sm-50">
            <div class="container">
                <div class="row">
                    <div class="col-md-3 col-sm-4 mt-xs-30">

<%= render "plans/all_plans", {plans: @plans} %>
<%= render "plans/form", {plan: Plan.new } %>
                    </div>
                </div>
            </div>
</section>            


