// $('#join_plan_link').click(function() {
  //  alert("You are in");
  //)};

$("#join-<%=@plan.id%>").replaceWith('You are In!' ).appendClass("joined");
$("#plan-users-<%=@plan.id%>").append('<li><%=current_user.name%></li>' );


